@media (max-width:1084px) {
    .container {
        height: 100vh;
        width: 100vh;
    }

    .container .title {
        align-items: end;
        height: 80px;
    }

    .container .title .logo {
        width: 150px;
        margin: 0;
    }

    .container .hero .page {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .container .hero .page .illustration {
        height: 280px;
    }

    .container .hero .page .illustration .img-principal {
        width: 320px;
    }

    .container .hero .page .info {
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .container .hero .page .info .info-text {
        height: 200px;
        width: 365px;
        text-align: center;
        margin: 0;
    }

    .container .hero .page .info h2 {
        font-size: 26px;
    }

    .container .hero .page .info .btn {
        padding: 14px 85px;
        font-size: 14px;
    }

    .container .societ {
        justify-content: center;
        align-items: end;
        margin: 0;
        margin-top:20px;
        height: 200px;
    }

    .container .societ .link {
        padding: 5px 8px;
    }

    .container .societ .link .fa-facebook-f,
    .fa-twitter,
    .fa-instagram {
        font-size: 15px;
    }
}